@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@rainbow-me/rainbowkit/styles.css';

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@layer utilities {

  .bg-green-spx {
    background-color: #52C39A;
  }

  .bg-red-spx {
    background-color: #DD5E56;
  }

  .text-gray-spx4 {
    --tw-text-opacity: 1;
    color: rgb(144 148 158 / var(--tw-text-opacity));
  }

  .text-gray-spx5 {
    --tw-text-opacity: 1;
    color: rgb(100 104 113 / var(--tw-text-opacity));
  }
  
  .bg-gray-spx6 {
    --tw-bg-opacity: 1;
    background-color: rgb(63 65 71 / var(--tw-bg-opacity));
  }

  .bg-gray-spx7 {
    --tw-bg-opacity: 1;
    background-color: rgb(35 37 41 / var(--tw-bg-opacity));
  }

  .bg-gray-spx8 {
    --tw-bg-opacity: 1;
    background-color: rgb(19 20 22 / var(--tw-bg-opacity));
  }

  .border-gray-spx6 {
    --tw-border-opacity: 1;
    border-color: rgb(63 65 71 / var(--tw-border-opacity));
  }

  .border-gray-spx7 {
    --tw-border-opacity: 1;
    border-color: rgb(35 37 41 / var(--tw-border-opacity));
  }

}
