@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@layer utilities{
  .text-gray-spx4 {
    --tw-text-opacity: 1;
    color: rgb(144 148 158 / var(--tw-text-opacity));
  }
}
